body {
    background-image: url("Counter.avif");
    background-size: cover;
    font-family: 'Time new roman', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background: rgb(255, 164, 216);
    max-width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(23, 12, 122);
    border-radius: 20px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #2C2891;
    text-shadow: 2px 2px 8px #fff, 0 0 10px #1C7947;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #C0392B;
    text-shadow: 1px 1px 6px #fff, 0 0 8px #F39C12;
}

button {
    border: 1px solid rgb(12, 5, 70);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #2C2891;
}

#save-btn {
    background: #1C7947;
}

#sum-btn {
    background: #F39C12;
}

#reset-btn {
    background: #C0392B;
}

#save-el {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #095e30;
    text-shadow: 1px 1px 4px #fff;
}

#sum-el {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #095e30;
    text-shadow: 1px 1px 4px #fff;
}

